<h1>About Queer Broads Abroad</h1>
<p>Queer Broads Abroad is on online community that features queer women’s work, centered on travel in the broadest (nudge, nudge) sense - navigating geography, identity and meaning.  The collected works on this site aim to highlight travel and the intersections of gender, race, nationality, ability, sexuality, citizenship status, diasporas, borders and more. </p>
