<table align="center">
  <tbody>
    <tr>
      <td><p>You have received a new contact form message from QueerBroadsAbroad. The contents are as follows:</p></td>
    </tr>
    <tr>
      <td><p><%= @message %></p></td>
    </tr>
  </tbody>
</table>
